@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comic+Relief:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Darker+Grotesque:wght@300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header & Navigation */
header {
    background: #2a313b;
    padding: 20px;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

nav {
    display: inline-block;
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.dark {
    background-color: black;
    color: white;
}

button#mode-toggle {
    border-radius: 50px;
    border: none;
}

/* Hero / Banner */
.banner {
    background: url('https://plus.unsplash.com/premium_photo-1740367189418-7069f1bbdc9d?q=80&w=967&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

#popUp {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 16%;
    width: 300px;
    border-radius: 50px;
    border: none;
    position: absolute;
    color: white;
    background-image: linear-gradient(#2587be, #0e5185);
    text-align: center;
    display: none;
}

.banner h1 {
    font-size: 3em;
    margin: 0;
}

.banner p {
    font-size: 1.3em;
}

/* Footer */
footer {
    background: #2a313b;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}